media/images/*
media/uploads/*
static/img/*
venv/*
training_model/*
training_model/test/*
training_model/train/*
training_model/val/*
weights/*
data/*
classify/__pycache__/*
classify/migrations/*
analysisCSV/__pycache__/*
analysisCSV/migrations/*
demo-venv/*
Tool/*
webMachine/__pycache__/*
FlowerDetectMobile/__pycache__/*
models/*